name: dependabot
on:
  push:
    branches:
      - "dependabot/**"

jobs:
  update-dist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
          ref: ${{ github.event.pull_request.head.ref }}
      - name: git config
        run: |
          git config --local user.email "$(git log --pretty='%ae' -1)"
          git config --local user.name "dependabot[bot]"
          git checkout ${{ github.event.pull_request.head.ref }}
      - run: npm install
      - run: npm run all
      - name: commit
        run: |
          git add dist
          git commit -m "[dependabot skip] Update dist"
      - name: push changes
        run: git push origin ${{ github.event.pull_request.head.ref }}

